---
layout: default
title: Tags
header: Posts By Tag
group: navigation
---

<ul class="tag_box inline">
  {% assign tags_list = site.tags %}  
  {% if tags_list.first[0] == null %}
    {% for tag in tags_list %} 
    	<li><a href="{{ BASE_PATH }}{{ site.tags_path }}#{{ tag }}-ref">{{ tag }} <span>{{ site.tags[tag].size }}</span></a></li>
    {% endfor %}
  {% else %}
    {% for tag in tags_list %} 
    	<li><a href="{{ BASE_PATH }}{{ site.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }} <span>{{ tag[1].size }}</span></a></li>
    {% endfor %}
  {% endif %}
</ul>


{% for tag in site.tags %}
<h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
<ul>
  {% assign pages_list = tag[1] %}
  {% for p in pages_list %}
    {% if p.title != null %}
      {% if group == null or group == p.group %}
      	{% if page.url == p.url %}
      	<li class="active"><a href="{{ BASE_PATH }}{{p.url}}" class="active">{{ p.title }}</a></li>
      	{% else %}
      	<li><a href="{{ BASE_PATH }}{{p.url}}">{{ p.title }}</a></li>
      	{% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
{% endfor %}

